.header-section {
    --e-transform-transition-duration: 100ms;
    position: fixed;
    /* width: 1082.4px; */
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    top: 0px;

    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 10px 0px 10px 0px;
    z-index: 10;

    transform-origin: var(--e-transform-origin-y) var(--e-transform-origin-x);
}

.header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform-origin: var(--e-transform-origin-y) var(--e-transform-origin-x);
}

.header-effect {
    width: 100%;
    height: 100%;
    /* opacity: 0; */
    /* will-change: opacity; */

    background-color: var(--e-global-color-a291686);

    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;

    transition-property: transform, opacity;
    transition-timing-function: cubic-bezier(0, .33, .07, 1.03);
    transition-duration: 1s;

    opacity: 0;
    transition: opacity 0.5s ease-in-out; 
}

.header-visible {
    opacity: 1;
}

.header-container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.header-logo-img {
    width: 100%;
    height: 37px;
    object-fit: contain;
    object-position: center center;
    vertical-align: middle;
    display: inline-block;

    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

@media (max-width: 1024px) {
    .header-logo-img {
        height: 35px;
    }
}

@media (max-width: 767px) {
    .header-logo-img {
        height: 30px;
    }
}

.header-breadcrumb{
    outline: none;
    border: none;
    background: unset;
    color: var(--e-global-color-secondary);
    transition: color .3s, transform var(--e-transform-transition-duration, .4s);
}
.header-breadcrumb:hover{
    color: var(--e-global-color-primary);
    outline: none;
    border: none;
}

.header-logo-link {
    display: inline-block;
    color: var(--e-global-color-secondary);

    box-shadow: none;
    text-decoration: none;
}

.header-logo-anime {
    padding: 10px;
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s, transform var(--e-transform-transition-duration, .4s);
}

.header-nav-link {
    color: var(--e-global-color-secondary);
    fill: var(--e-global-color-secondary);
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 8px;
    padding-bottom: 8px;

    font-family: var(--e-global-typography-520c191-font-family), Sans-serif;
    font-size: var(--e-global-typography-520c191-font-size);
    font-weight: var(--e-global-typography-520c191-font-weight);
    text-transform: var(--e-global-typography-520c191-text-transform);
    line-height: var(--e-global-typography-520c191-line-height);
    letter-spacing: var(--e-global-typography-520c191-letter-spacing);
    word-spacing: var(--e-global-typography-520c191-word-spacing);

    white-space: nowrap;
    flex-grow: 1;

    transition: .4s;

    display: flex;
    align-items: center;

    position: relative;

    background-color: transparent;
    letter-spacing: 1px;
    cursor: pointer;
}

.header-nav-link::before {
    display: block;
    position: absolute;
    transition: .3s;
    transition-timing-function: cubic-bezier(.58, .3, .005, 1);
    opacity: 0;
}

.header-nav-link::after {
    background-color: var(--e-global-color-accent);
    height: 2px;
    opacity: 0;

    content: "";
    bottom: 0;

    width: 100%;
    left: 0;
    z-index: 2;

    display: block;
    position: absolute;
    transition: .3s;
    transition-timing-function: cubic-bezier(.58, .3, .005, 1);

    transform: scale(1);

}

.header-nav-link:hover,
.header-nav-link:focus,
.header-nav-link:active {
    color: var(--e-global-color-primary);
    fill: var(--e-global-color-primary);
}

.header-nav-link:hover::after,
.header-nav-link:focus::after,
.header-nav-link:active::after {
    opacity: 1;
}

.header-nav-link-sub-menu {
    width: auto;
    display: block;
    margin-top: 5px;
    margin-left: 0px;
    z-index: 3;
    min-width: 10em;
    max-width: 1000px;
    background-color: var(--e-global-color-a291686);
}

.header-nav-sub-menu-link:hover {
    background-color: var(--e-global-color-accent);
}

.header-nav-sub-menu-link>a {
    color: var(--e-global-color-secondary);

}

.header-nav-sub-menu-link:hover>a {
    color: var(--e-global-color-a291686);
    background-color: var(--e-global-color-accent);

}